<style>
    #footer {
        padding: 20px 0;
        font-size: 0.9rem; /* Slightly reduce the font size */
        background-color: #333; /* Carbon black background color */
        color: #fff; /* Ensure text color is white for readability */
    }

        #footer .footer-content {
            padding: 10px 0;
        }

        #footer p {
            margin: 0;
            color: #ccc; /* Lighter color for the text to contrast with the black background */
            font-weight: bold;
        }
</style>


<body>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row g-5">
                    <div class="col-12 text-center">
                        <p>Project By: Kanwar Junaid Islam & Muhammad Jasim Ibrahim Malik</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
